@import "bootstrap.less";

.container {
	margin: 30px auto;
	width: 1000px;
}

.guess-word {
	
	input {
		width: 30px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
		border-radius: 0;
		border-right-width: 0;
		text-align: center;
		padding: 0;
		
		&:first-child {
			.border-top-left-radius(3px);
			.border-bottom-left-radius(3px);
		}
		&:last-child {
			border-right-width: 1px;
			.border-top-right-radius(3px);
			.border-bottom-right-radius(3px);
		}
		
		&.good {
			background: #f5ffef;
		}
		&.bad {
			background: #ffeeee;
		}
	}
	
	.progress {
		width: 300px;
		display: none;
	}
}

.guessed-words {
	
	table {
		width: 300px;
	}
}